.card {
  display: block;
  padding: $spacer;
  margin-top: ($spacer / 2);
  margin-bottom: ($spacer / 2);
}

.card-full{
  background-color: $background-light;
}

@each $key, $value in $darks {
  .card-bg-#{$key} {
    background-color: $value;
    color: $white;
  }
}

@each $key, $value in $lights {
  .card-bg-#{$key} {
    background-color: $value;
    color: $font-normal;
  }
}

@each $key, $value in $colours {
  .card-bordered-#{$key} {
    border: 1px solid $value;
  }
}

/* Buttons */

.button{
  color: $white;
  background-color: $background-light;
  padding: ($spacer / 2) $spacer ($spacer / 2) $spacer;
  text-decoration: none;
}

.button:hover {
  text-decoration: none;
}


@each $key, $value in $darks {
  .button-#{$key} {
    background-color: $value;
    color: $font-normal;
  }  
}

@each $key, $value in $lights {
  .button-#{$key} {
    background-color: $value;
    color: $white;
  }  
}

@each $key, $value in $colours {
  .button-lightweight-#{$key} {
    background: none;
    border: 1px solid $value;
    color: $value;
  }
}
