.text-orange{
  color: $orange;
}

.text-blue{
  color: $blue;
}

.text-black{
  color: black;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}