/* SASS variables */

$font-size-root: 16px;
$font-strong: #333;
$font-normal: #566b78;
$background-light: #f5f7f9;
$orange: #E95420;
$blue: #7AD0ED;
$spacer: 1rem;

/* Secondary SASS variables */

$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.75rem;
$font-size-h4: 1.5rem;
$font-size-h5: 1.25rem;
$font-size-h6: 1rem;
$heading-margin-bottom: ($spacer / 2);