@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500";
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px; }

body {
  margin: 0 auto;
  max-width: 50rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 5rem 1rem;
  color: #566B78; }

.title .is-1 {
  font-size: 2.5rem; }
.title .is-2 {
  font-size: 2rem; }
.title .is-3 {
  font-size: 1.75rem; }
.title .is-4 {
  font-size: 1.5rem; }
.title .is-5 {
  font-size: 1.25rem; }
.title .is-6 {
  font-size: 1rem; }

.is-1, .is-2, strong {
  color: #333; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.5rem; }

a {
  color: #E95420; }

.header-image {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%; }

code {
  border-radius: 4px;
  color: #E95420;
  padding: 4px; }

pre {
  padding-top: 1rem;
  overflow: auto;
  white-space: pre-wrap;
  border-left: 2px solid #7AD0ED; }

code,
pre {
  background: #F5f7F9;
  border-bottom: 1px solid #d8dee9;
  -moz-font-smoothing: grayscale;
  -webkit-font-smoothing: initial; }

.block-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.rounded {
  border-radius: 3px; }

.list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none; }

.highlight {
  background: #fff; }

.highlighter-rouge {
  background: #eef; }

.c {
  color: #998;
  font-style: italic; }

.err {
  color: #a61717;
  background-color: #e3d2d2; }

.k {
  font-weight: bold; }

.o {
  font-weight: bold; }

.cm {
  color: #998;
  font-style: italic; }

.cp {
  color: #999;
  font-weight: bold; }

.c1 {
  color: #998;
  font-style: italic; }

.cs {
  color: #999;
  font-weight: bold;
  font-style: italic; }

.gd {
  color: #000;
  background-color: #fdd; }

.gd .x {
  color: #000;
  background-color: #faa; }

.ge {
  font-style: italic; }

.gr {
  color: #a00; }

.gh {
  color: #999; }

.gi {
  color: #000;
  background-color: #dfd; }

.gi .x {
  color: #000;
  background-color: #afa; }

.go {
  color: #888; }

.gp {
  color: #555; }

.gs {
  font-weight: bold; }

.gu {
  color: #aaa; }

.gt {
  color: #a00; }

.kc {
  font-weight: bold; }

.kd {
  font-weight: bold; }

.kp {
  font-weight: bold; }

.kr {
  font-weight: bold; }

.kt {
  color: #458;
  font-weight: bold; }

.m {
  color: #099; }

.s {
  color: #d14; }

.na {
  color: #008080; }

.nb {
  color: #0086B3; }

.nc {
  color: #458;
  font-weight: bold; }

.no {
  color: #008080; }

.ni {
  color: #800080; }

.ne {
  color: #900;
  font-weight: bold; }

.nf {
  color: #900;
  font-weight: bold; }

.nn {
  color: #555; }

.nt {
  color: #000080; }

.nv {
  color: #008080; }

.ow {
  font-weight: bold; }

.w {
  color: #bbb; }

.mf {
  color: #099; }

.mh {
  color: #099; }

.mi {
  color: #099; }

.mo {
  color: #099; }

.sb {
  color: #d14; }

.sc {
  color: #d14; }

.sd {
  color: #d14; }

.s2 {
  color: #d14; }

.se {
  color: #d14; }

.sh {
  color: #d14; }

.si {
  color: #d14; }

.sx {
  color: #d14; }

.sr {
  color: #009926; }

.s1 {
  color: #d14; }

.ss {
  color: #990073; }

.bp {
  color: #999; }

.vc {
  color: #008080; }

.vg {
  color: #008080; }

.vi {
  color: #008080; }

.il {
  color: #099; }

.text-orange {
  color: #E95420; }

.text-blue {
  color: #7AD0ED; }

.text-black {
  color: #000; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.card {
  display: block;
  padding: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.card-full {
  background-color: #F5f7F9; }

.card-bg-blue {
  background-color: #7AD0ED;
  color: white; }

.card-bg-orange {
  background-color: #E95420;
  color: white; }

.card-bordered-blue {
  border: 1px solid #7AD0ED; }

.card-bordered-orange {
  border: 1px solid #E95420; }

/* Buttons */
.button {
  color: white;
  background-color: #F5f7F9;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-decoration: none; }

.button:hover {
  text-decoration: none; }

.button-blue {
  background-color: #7AD0ED; }

.button-orange {
  background-color: #E95420; }

.button-lightweight-blue {
  background: none;
  border: 1px solid #7AD0ED;
  color: #7AD0ED; }

.button-lightweight-orange {
  background: none;
  border: 1px solid #E95420;
  color: #E95420; }

/*# sourceMappingURL=liteweight.css.map */
