@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

/* Basic Styling */

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
  max-width: 50rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 5rem 1rem;
  color: #566b78;
}

h1, h2, strong {
  color: #333;
}

a {
  color: #E95420;
}

/* Text Utilities */

.text-orange{
  color: #E95420;
}

.text-blue{
  color: #7AD0ED;
}

.text-black{
  color: #000000;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

/* Cards */

.card {
  display: block;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-full{
  background-color:  #f5f7f9;
}

.card-bg-blue{
  background-color: #7AD0ED;
  color:#FFFFFF;
}

.card-bg-orange{
  background-color: #E95420;
  color:#FFFFFF;
}

.card-bordered-blue{
  border: 1px solid #7AD0ED;
}

.card-bordered-orange{
  border: 1px solid #E95420;
}

/* Buttons */

.button{
  color: #FFFFFF;
  background-color: #566b78;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.button:hover {
  text-decoration: none;
}

.button-blue{
  background-color: #7AD0ED;
}

.button-orange{
  background-color: #E95420;
}

.button-lightweight-blue{
  background: none;
  border: 1px solid #7AD0ED;
  color: #7AD0ED;
}

.button-lightweight-orange{
  background: none;
  border: 1px solid #E95420;
  color: #E95420;
}

/* Preformatted and Code */

code{
  border-radius:4px;
  color:#E95420;
  padding: 4px;
}

pre {
  padding-top: 1rem;
  overflow: auto;
  white-space: pre-wrap;
  border-left: 2px solid #7AD0ED;
}

code,
pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  -moz-font-smoothing: grayscale;
  -webkit-font-smoothing: initial;
}

/* Shape Utility */

.block-responsive{
  display:block;
  max-width: 100%;
  height: auto;
}

.rounded{
  border-radius: 3px;
}

.list-unstyled{
 padding: 0;
 margin: 0;
 list-style: none;
}

/* Specific Classes */

.header-image{
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 9000px;
}
