html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: $font-size-root;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-default;
  line-height: 1.5;
  color: $font-normal;
}

@each $key, $value in $colours{
	.text-#{$key} {
		color: $value !important;
	}
  .bg-#{$key}{
    background-color: $value;
    color: white;
  }
  .border-top-#{$key} {
    border-top: 2px solid $value;
  }
  .border-right-#{$key} {
    border-right: 2px solid $value;
  }
  .border-bottom-#{$key} {
    border-bottom: 2px solid $value;
  }
  .border-left-#{$key} {
    border-left: 2px solid $value;
  }
}

.main-body{
  margin: 0 auto;
  max-width: 50rem;
  @media (min-width:800px) {
    padding: 5rem $spacer;
  }
  @media (max-width:800px) {
    padding: 2rem $spacer;
  }
}

.block-responsive{
  display:block;
  max-width: 100%;
  height: auto;
}

.block-balance{
  display:block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.list-unstyled{
  padding: 0;
  margin: 0;
  list-style: none;
}

.fixed-top{
  position: fixed;
  top: 0;
}
