/* Buttons */

.button{
  display: inline-block;
  color: $white;
  background-color: $background-light;
  margin: ($spacer / 2) ($spacer / 2);
  padding: ($spacer / 8) $spacer;
  text-decoration: none;
  border-radius: $border-radius;
  line-height: 2;
}

.button:hover {
  text-decoration: none;
}

.button-block{
  display: block;
}

@each $key, $value in $colours {
  .button-#{$key} {
    background-color: $value;
    color: $white;
  }
}

@each $key, $value in $colours {
  .button-#{$key} {
    background: none;
    border: 1px solid $value;
    color: $value;

    &:hover {
      background-color: $value;
      @if $value == $white{
        color: $black;
      }
      @else{
        color: $white;
      }
    }
  }
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    padding-top:2em;
    display: none;
    position: absolute;
    background-color: $off-white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    border-radius:$border-radius;
}

.dropdown:hover .dropdown-content {
    display: block;
}
