/* Buttons */

.button{
  display: inline-block;
  color: $white;
  background-color: $background-light;
  margin: ($spacer / 2) ($spacer / 2);
  padding: ($spacer / 8) $spacer;
  text-decoration: none;
  border-radius: $border-radius;
  line-height: 2;
}

.button:hover {
  text-decoration: none;
}

.button-block{
  display: block;
}

@each $key, $value in $colours {
  .button-#{$key} {
    background: none;
    border: 1px solid $value;
    color: $value;

    &:hover {
      background-color: $value;
      @if $value == $white{
        color: $font-normal;
      }
      @else{
        color: $white;
      }
    }
  }
}
