/* Cards */

.card {
  display: block;
  padding: $spacer;
  margin-top: ($spacer / 2);
  margin-bottom: ($spacer / 2);
  border-radius: $border-radius;
}

.card-full{
  background-color: $background-light;
}

@each $key, $value in $colours {
  .card-bg-#{$key} {
    background-color: $value;
    color: $white;
  }
}


@each $key, $value in $colours {
  .card-bordered-#{$key} {
    border: 1px solid $value;
  }
}
