code{
  border-radius:$border-radius;
  padding: 4px;
  border-bottom: 1px solid $gray-fake-shadow;
}

pre {
  padding-top: 1rem;
  overflow: auto;
  white-space: pre-wrap;
  padding-left: 1em;
  color: inherit;
  border-left: 2px solid $primary;
  border-bottom: 1px solid $gray-fake-shadow;
}

code,
pre {
  color: inherit;
  background: $background-light;
  -moz-font-smoothing: grayscale;
  -webkit-font-smoothing: initial;
}

pre > code{
  border-bottom: none;
}

blockquote {
  background: $background-light;
  border-left: 2px solid $primary;
  margin-left: 0;
  margin-right: 0;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: $primary;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
