code{
  border-radius:$border-radius;
  padding: 4px;
  border-bottom: 1px solid $gray-fake-shadow;
}

pre {
  padding-top: 1rem;
  overflow: auto;
  white-space: pre-wrap;
  padding-left: 1em;
  color: inherit;
  border-left: 2px solid $secondary;
  border-bottom: 1px solid $gray-fake-shadow;
}

@each $key, $value in $colours {
  .pre-#{$key} {
    border-left: 2px solid $value;
  }
}

code,
pre {
  color: inherit;
  background: $background-light;
  -moz-font-smoothing: grayscale;
  -webkit-font-smoothing: initial;
}

pre > code{
  border-bottom: none;
}
