table.table{
    display: table;
    width: 100%;
    height: auto;
    border-collapse: collapse;
    td, th{
        border: 1px solid $light-grey;
        border-width: 0 0 1px 0;
        padding: 0.5em;
    }
    thead{
        td, th{
            border: 2px solid $light-grey;
            border-width: 0 0 2px 0;
            padding: 0.5em;
        }
    }
    th{
        text-align: left;
    }
    tbody{
        tr{
            &:last-child{
                td, th{
                    border-bottom-width: 0;
                }
            }
        }
    }
}

table.table-condensed{
    td, th{
        padding: 0;
        padding-left: 0.5em;
    }
}

table.table-bordered{
    td, th{
        border-width: 1px;
    }
    thead{
        td, th{
            border-width: 1px 1px 2px 1px;
        }
    }
    tbody{
        tr{
            &:last-child{
                td, th{
                    border-bottom-width: 1px;
                }
            }
        }
    }
}

@each $key, $value in $colours{
	.table-border-#{$key} {
        td, th{
            border-color: $value !important;
        }
        thead{
            td, th{
                border-color: $value !important;
            }
        }
	}
}
