/* Tags */

.tag {
  display: inline-block;
  font-weight: bold;
  padding: 0 1rem;
  line-height: 2;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  border-radius: $border-radius;
}

.tag-full{
  background-color: $background-light;
}

.tag-rounded{
  border-radius: 500px;
}

.tag-sm{
  font-size: 0.75rem;
  padding: 0 0.75rem;
  line-height: 1.5;
}

.tag-lg{
  font-size: 1.25rem;
  padding: 0 1.5rem;
  line-height: 2.5;
}

@each $key, $value in $colours {
  .tag-#{$key} {
    background-color: $value;
    color: $white;
    border-bottom: 1px solid $gray-fake-shadow;
  }
  .tag-bordered-#{$key} {
    border: 1px solid $value;
    color: $value;
    font-weight: normal;
  }
}
