/* Tags */

.tag {
  display: inline-block;
  font-weight: bold;
  padding: 0 1rem;
  line-height: 2;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  font-size: 1rem;
  border-radius: $border-radius;
}

.tag-rounded{
  border-radius: 500px;
}

.tag-sm{
  font-size: 0.75rem;
  padding: 0 0.75rem;
  line-height: 1.5;
}

.tag-lg{
  font-size: 1.25rem;
  padding: 0 1.5rem;
  line-height: 2.5;
}
