@each $key, $value in $text-sizes{
	.text-#{$key} {
		font-size: $value;
	}
}

.title{
	.title-1{ font-size: $font-size-1; }
	.title-2{ font-size: $font-size-2; }
	.title-3{ font-size: $font-size-3; }
	.title-4{ font-size: $font-size-4; }
	.title-5{ font-size: $font-size-5; }
	.title-6{ font-size: $font-size-6; }
}


.title-display, .title-1, .title-2, strong {
  color: $font-strong;
}

.title {
  margin-bottom: $heading-margin-bottom;
}

a {
  color: $primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.link-white{
	color: $white;
  text-decoration: underline;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}
