@font-face{
	font-family: Nexa;
	src:url(../fonts/nexa/nexa_light.otf);
}
@font-face{
	font-family: Nexa;
	font-weight:bold;
	src:url(../fonts/nexa/nexa_bold.otf);
}
@font-face{
	font-family: Nexa Slab;
	src:url(../fonts/nexaslab/nexa_slab_regular.otf);
}
@font-face{
	font-family: Nexa Slab;
	font-weight: bold;
	src:url(../fonts/nexaslab/nexa_slab_bold.otf);
}

$font-default: "Nexa", "Roboto", "Helvetica", "Arial", sans-serif;

$colours: (
	"orange": 		$orange,
	"blue": 			$blue,
	"black": 			$black,
	"grey": 			$grey,
	"light-grey": $light-grey,
	"white": 			$white,

	"primary":		$primary,
	"secondary":	$secondary
);
