$font-default: "Century Gothic", "Roboto", "Helvetica", "Arial", sans-serif;

$blue: #2196F3;

$primary: $blue;
$secondary: $white;

$font-strong: $secondary;
$font-normal: $off-white;

$colours: (
	/*
	"blue": 			$blue,
	"black": 			$black,
	"grey": 			$grey,
	"light-grey": $light-grey,
	"white": 			$white,
	*/
	"primary":		$primary,
	"secondary":	$secondary
);
